/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: Montserrat;
}

img {
    width: 100%;
}

/* HEADER */
.header-first-block {
    margin: 20px 0;
}

.logo {
    height: 70px;
    width: auto;
}

.navigation-bar ul {
    margin-top: 30px;
    list-style-type: none;
}

.navigation-bar ul li {
    display: inline-block;
}

.navigation-bar ul li a {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #8c8c8c;
    padding-right: 10px;
    font-weight: bold;
}

.header-second-block {
    position: relative;
    height: 500px;
    background-color: #e1d67a;
    margin: 40px 0;
    border-radius: 10px;
    border: 1px solid lightgrey;
    overflow: hidden;
}

.layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.header-second-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    color: white;
    width: 50%;
    position: absolute;
    left: 40px;
    bottom: 80px;
}

.text-container h2 {
    font-size: 30px;
}
/* END HEADER */


/* MAIN */
main {
    background-color: #0084fd;
    padding-bottom: 10px;
}

.main-title {
    background-color: #abcfe7;
    height: 80px;
}


/* CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* COLUMN CONTAINER */
.clearfix.column-container {
    margin: 20px 0;
}


/* FLOAT COLONNE */
.col {
    float: left; 
    height: 500px;  /* in questo caso dato che ho le colonne tutte della stessa altezza assegno un unica proprietà height nella classe comune .col */
    background-color: #abcfe7;  /* idem stesso ragionamento per il colore delle colonne, che in questo caso è il medesimo per tutte */
}

.col.column-left, .col.column-right {
    width: 20%;
}

.col.column-center {
    width: 56%;
    margin: 0 2%;   /* aggiungo un margine del 2% sia a destra che a sinistra della colonna centrale, andando poi a ridurre la width al 56% invece che 60% */
}
/* END MAIN */


/* FOOTER */
footer {
    height: 80px;
    background-color: #8801fe;
    margin: 8px 0 20px 0;
}
/* END FOOTER */


